.thumbnail {
    padding: 0;
}

.thumbnail img {
    width: 100%;
}

#indexbox {
    text-align: center;
    padding: 10px;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}